<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head') %>

    <link rel="stylesheet" href="../../public/css/home.css">
    
    <body>
        <%- include('partials/header') %>
        <main>
            <section id="main_banner">
                <div id="main_banner_featured">
                    <div id="welcome_text">
                        <h1>EL FUTURO, AHORA.</h1>
                        <p>Se parte de la nueva generacion de artistas digitales</p>
                        <a class="main_banner_button" id="main_banner_to_market" href="/market">Explorar</a>
                        <a class="main_banner_button" id="main_banner_to_create" href="/profile/Create">Crear</a>
                    </div>
                    <div id="main__featured_artist">
                        <img src="../../public/tmp/uploads/<%- products.image%>" id="main_featured_img">
                        <div id="main_banner_featured_description">
                            <div id="fakeimage">a</div>
                            <p>by <%- products.author%></p>
                        </div>
                    </div>
                </div>
            </section>

            <section id="setup">
                <h2>Publica tus NFTs hoy mismo</h2>
                <div id="faqs_conteiner">
                    <article class="setup_steps">
                        <img>
                        <p class="setup_steps_title">step1</p>
                        <p class="setup_steps_description">This should say something about the step an maybe contain a related link</p>
                    </article>
                    <article class="setup_steps">
                        <img>
                        <p class="setup_steps_title">step2</p>
                        <p class="setup_steps_description">This should say something about the step an maybe contain a related link</p>
                    </article>
                    <article class="setup_steps">
                        <img>
                        <p class="setup_steps_title">step3</p>
                        <p class="setup_steps_description">This should say something about the step an maybe contain a related link</p>
                    </article>
                    <article class="setup_steps">
                        <img>
                        <p class="setup_steps_title">step4</p>
                        <p class="setup_steps_description">This should say something about the step an maybe contain a related link</p>
                    </article>
                </div>
            </section>
            
        </main>
        <%- include('partials/footer') %>
    </body>
</html>
