<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
        <link rel="stylesheet" href="../../public/css/itemEdit.css">
    <body>
        <%- include('partials/header') %>

    <main>
        <section id="profile_header">
            <h1 id="profile_tittle">Profile</h1>
            <nav id="profile_menu">
                <ul id="profile_menu_links">
                    <li><a href="/profile/Favs"><i class="fas fa-heart"></i><p>Likes</p></a></li>
                    <li><a href="/profile"><i class="fas fa-folder"></i><p>Collection</p></a></li>
                    <li><a id="current" href=""><i class="fas fa-file-upload"></i><p>Create</p></a></li>
                    <li><a href=""><i class="fas fa-chart-bar"></i><p>Stats</p></a></li>
                    <li><a href=""><i class="fas fa-cog"></i><p>Settings</p></a></li>
                </ul>
            </nav>
        </section>
        <section id="create_card">
            <h3>Edit item</h3>
            <form id="create_form" name="create_form" method="POST" enctype="multipart/form-data">
                <p id="form_title">Image, video, audio or 3D model</p>
                <label id="create_image_label" for="create_image">
                   <img src="../../public/tmp/uploads/<%- item.image %>">
                </label>
                <input type="file"  name="create_image" id="create_image" multiple>
                <p id="form_title">Name *</p>
                <input type="text" required name="name" id="create_title" value = "<%- item.pieceName %>">
                <p id="form_title">Description</p>
                <textarea name="description" id="create_discription" placeholder="Describe your item (optional)"></textarea>
                <p id="form_title">Price</p>
                <input type="text" name="price" id="create_price" value = <%- item.price %>>
                <div id = 'button-id'>
                    <button formaction="/profile/<%- item.id %>?_method=DELETE" type=submit href="#">Delete Item</button>
                    <button formaction="/profile/<%- item.id %>?_method=PUT" type=submit href="#">Apply  Changes</button>
                </div>
            </form>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>

</html>