<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>

  <link rel="stylesheet" href="../../public/css/product.css" />

  <body>
    <%- include('partials/header') %>

    <main>
      <section id = 'main-product-section'>

      <section id="main_banner">
        <div id="main_banner_featured">
          <div class="welcome_text">
            <h1>EL FUTURO, AHORA.</h1>
            <p>Se parte de la nueva generacion de artistas digitales</p>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae
              ex, tempora omnis pariatur corporis error voluptate repellat odio,
              suscipit nulla laboriosam quam tenetur, eveniet impedit quisquam
              dolorem necessitatibus harum! Exercitationem?
            </p>
          </div>
          <div id="main__featured_artist">
            <img
              src="../../public/tmp/uploads/<%- product.image %>"
              id="main_featured_img"
            />
          </div>
        </div>
        <div id="price_and_author_conteiner">
          <div class="welcome_text">
            <h1>EL FUTURO, AHORA.</h1>
            <p>Se parte de la nueva generacion de artistas digitales</p>
            <a class="main_banner_button" id="main_banner_to_market"
              >Checkout Now</a
            >
            <a class="main_banner_button" id="main_banner_to_create">Add to likes</a>
          </div>
          <div id="author">
            <img src="../../public/img/<%- author.authorProfilePic %>" />
            <h4><%- product.author %></h4>
            <p><%- author.description %></p>
          </div>
        </div>
      </section>
      <section id="artist_jobs_title">
        <h4>Other jobs from this artist</h4>
      </section>
      <section id="artist_jobs">
  
        <% otherJobs.forEach(product => { %>
          <%- include('partials/productCards', { product }) %>
      <% })%>
        
        
      </section>  

    </section>
    </main>
    <footer>
      <section id="footer_newsteller">
        <h2>No te pierdas nada!</h2>
        <p>dasdasdadasdasdasdadadasdasda</p>
        <form id="footer_newsteller_form">
          <input type="email" id="email_input" placeholder="Tu correo..." />
          <button type="submit">Subscribirme</button>
        </form>
      </section>
      <section id="footer_redes">
        <h2>Seguinos en redes :)</h2>
        <nav id="redes">
          <a href="" id="first"><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
          <a href=""><i class="fab fa-discord"></i></a>
          <a href=""><i class="fab fa-reddit-alien"></i></a>
        </nav>
      </section>

      <!-- <section id="footer_aboutus">
           <img src="../../public/img/LOGO_DEMO.png">
           <h>new future</h>
           <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, praesentium accusantium.</p>
       </section> -->

      <section id="footer_links">
        <nav class="footer_links_list">
          <h2>titulo</h2>
          <ul>
            <li>uno</li>
            <li>dos</li>
            <li>tres</li>
            <li>cuatro</li>
          </ul>
        </nav>

        <nav class="footer_links_list">
          <h2>titulo</h2>
          <ul>
            <li>uno</li>
            <li>dos</li>
            <li>tres</li>
            <li>cuatro</li>
          </ul>
        </nav>

        <nav class="footer_links_list">
          <h2>titulo</h2>
          <ul>
            <li>uno</li>
            <li>dos</li>
            <li>tres</li>
            <li>cuatro</li>
          </ul>
        </nav>

        <nav class="footer_links_list">
          <h2>titulo</h2>
          <ul>
            <li>uno</li>
            <li>dos</li>
            <li>tres</li>
            <li>cuatro</li>
          </ul>
        </nav>
      </section>
    </footer>
  </body>
</html>