<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>

  <link rel="stylesheet" href="../../public/css/product.css" />

  <body>
    <%- include('partials/header') %>

    <main>
      <section id = 'main-product-section'>


          <div id="productImage">
            <h2 id="tittle"><%- product.pieceName %> <span id="authorName">by <a href=""><%- product.author %></a></span></h2>
            <img src="../../public/tmp/uploads/<%- product.image %>" id="image"/>
          </div>

          <article id="description">
            <h2><i class="fas fa-align-left"></i>Description</h2>
            <div id="description_text">
              <p id="created_by">Created by <a href=""><%- product.author %></a></p>
              <p id="piece_description"><%- product.description %></p>
            </div>
          </article>

          <div id="product_pricing">
            <h3>Current price</h3>
            <div id="price">
              <h2><i class="fab fa-ethereum"></i><%- product.price %></h2>
              <p>$covert to usd</p>
            </div>
            <div id="pricing">
              <a class="pricing_button" id="buy_now">Buy Now</a>
              <a style="text-decoration: none;" href = "/productDetail/<%- product.id %>/add" class="pricing_button" id="add_likes" method>Add to likes<i class="far fa-heart"></i></a>
            </div>
          </div>

      </section>

      <section id="more_from_artist">
        <h4><i class="fas fa-cubes"></i>More from <span><%- product.author %></span></h4>
        <div id="artist_jobs">
  
        <% otherJobs.forEach(product => { %>
          <%- include('partials/productCards', { product }) %>
        <% })%>
        
        
        </div>  

      </section>
    </main>
    <footer>
      <section id="footer_newsteller">
        <h2>No te pierdas nada!</h2>
        <p>dasdasdadasdasdasdadadasdasda</p>
        <form id="footer_newsteller_form">
          <input type="email" id="email_input" placeholder="Tu correo..." />
          <button type="submit">Subscribirme</button>
        </form>
      </section>
      <section id="footer_redes">
        <h2>Seguinos en redes :)</h2>
        <nav id="redes">
          <a href="" id="first"><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
          <a href=""><i class="fab fa-discord"></i></a>
          <a href=""><i class="fab fa-reddit-alien"></i></a>
        </nav>
      </section>

      <!-- <section id="footer_aboutus">
           <img src="../../public/img/LOGO_DEMO.png">
           <h>new future</h>
           <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, praesentium accusantium.</p>
       </section> -->

      <section id="footer_links">
        <nav class="footer_links_list">
          <h2>titulo</h2>
          <ul>
            <li>uno</li>
            <li>dos</li>
            <li>tres</li>
            <li>cuatro</li>
          </ul>
        </nav>

        <nav class="footer_links_list">
          <h2>titulo</h2>
          <ul>
            <li>uno</li>
            <li>dos</li>
            <li>tres</li>
            <li>cuatro</li>
          </ul>
        </nav>

        <nav class="footer_links_list">
          <h2>titulo</h2>
          <ul>
            <li>uno</li>
            <li>dos</li>
            <li>tres</li>
            <li>cuatro</li>
          </ul>
        </nav>

        <nav class="footer_links_list">
          <h2>titulo</h2>
          <ul>
            <li>uno</li>
            <li>dos</li>
            <li>tres</li>
            <li>cuatro</li>
          </ul>
        </nav>
      </section>
    </footer>
  </body>
</html>