<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
        <link rel="stylesheet" href="../../public/css/profile_create.css">
        <link rel="stylesheet" href="../../public/css/profile_banner.css">

    <body>
        <%- include('partials/header') %>

    <main>
        <%- include('partials/profile_banner') %>

        <section id="profile_header">
            <h1 id="profile_tittle">Profile</h1>
            <nav id="profile_menu">
                <ul id="profile_menu_links">
                    <li><a href="/profile/Favs"><i class="fas fa-heart"></i><p>Likes</p></a></li>
                    <li><a href="/profile"><i class="fas fa-folder"></i><p>Collection</p></a></li>
                    <li><a href="/profile/Create"><i class="fas fa-file-upload"></i><p>Create</p></a></li>
                    <li><a href=""><i class="fas fa-chart-bar"></i><p>Stats</p></a></li>
                    <li><a id="current" href=""><i class="fas fa-cog"></i><p>Settings</p></a></li>
                </ul>
            </nav>
        </section>
        <section id="create_card">
            <h3>User Settings</h3>
            <form id="create_form" name="create_form" method="POST" enctype="multipart/form-data">
                <h4 id="form_title">Username</h4>
                <input type="text" required name="name" id="create_title" value = "<%- userArtists.authorUsername %>">

                <h4 id="form_title">Profile avatar</h4>
                <label id="create_image_label" for="create_image">
                    <i class="fas fa-image"></i>
                    <p>Drag and drop file</p>
                    <p id="label_line">(500x500px recommended)</p>
                </label>
                <input type="file"  name="create_image" id="create_image">

                <h4 id="form_title">Artist bio</h4>
                <p>Let your buyers know more about the artist</p>
                <textarea name="description" id="create_discription"><%- userArtists.description %></textarea>
                
                <button formaction="/profile/settings?_method=PUT" type=submit href="#">Apply  Changes</button>
            </form>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>

</html>