<article class="property-card">
    <a class = 'property-card-links' href="/productDetail/<%- product.id %>">
    <form id = '<%- cardStyle.iconStyle %>-icon-wrapper' method = 'GET' >
        <button style="border: none; background-color: white;" type="submit" formaction="/profile/<%- product.id %>/<%- cardStyle.iconStyle %>?_METHOD=GET">
            <div id = '<%- cardStyle.iconStyle %>-icon'>
                <i class="fas fa-<%- cardStyle.icon %>"></i>          
            </div>
        </button>
    </form>
    <div class="property-image">
    <img  src='../../public/tmp/uploads/<%- product.image %>'></div>
    <div class="property-description">
        <div class="piece-description">
        <h5><%- product.author %></h5>
        <p><%- product.pieceName %></p>
        </div>
        <div class="piece-price">
        <h5>Price</h5>
        <div class="price-changer"><i class="fab fa-ethereum"></i><p><%- product.price %></p></div>
        </div>
    </div>
    <a id = 'checkout-button'>Checkout Now</a>
</a>  
</article>